<h1 style="text-align: center;">Página de Asistencias</h1>
<p></p>
<p>En esta práctica trabajaremos con una aplicación, la cual nos permite gestionar la asistencia de los empleados.</p>

<h3>En esta aplicación tenemos las siguientes secciones disponibles:</h3>
<p>- Asistencias</p>
<p>- Empleados</p>
<p>- Reportes</p>

<h3>Estados</h3>
<p>Para las asistencias, se manejan 3 tipos de estados, los cuales cada uno viene representado por una letra:</p>
<p><b>A:</b> la letra <b>A</b> representa las asistencias.</p>
<p><b>R:</b> la letra <b>R</b> representa los retardos.</p>
<p><b>F:</b> la letra <b>F</b> representa las faltas o ausencias constantes durante la jornada.</p>

